#ignore object files and archive files
*[.oa]

#ignore executable files
*.exe

#ignore all sql files
*.sql

#ignore .vscode folder
.vscode/

#ignore text input files
*.txt

#ignore database integration solution
data_source/Dictionary_DB_filling/